<div class="container" *ngIf="productDetail">
  <h1 class="mt-4 mb-4">Product Detail</h1>
  <div class="row">
    <div class="col-md-4">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>{{ productDetail.title }}</mat-card-title>
            <mat-card-subtitle class="text-warning">{{
              productDetail.brand
            }}</mat-card-subtitle>
            <mat-card-subtitle class="text-primary"
              >Rs.{{ productDetail.price }}</mat-card-subtitle
            >
            <mat-card-subtitle class="text-success"
              >{{ productDetail.discountPercentage }}%</mat-card-subtitle
            >
            <img mat-card-md-image src="{{ productDetail.thumbnail }}" />
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          <mat-card-subtitle class="text-danger mt-4">{{
            productDetail.category
          }}</mat-card-subtitle>
          <p class="mb-3">{{ productDetail.description }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button class="btn btn-success" mat-button>Checkout ></button>
        </mat-card-actions>
      </mat-card>
      <a class="" href="#" (click)="backProductList()">
        < Back
      </a>
    </div>
  </div>
</div>
