/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; font-size: 18px !important;}

.mat-mdc-card{
    background-color: #fff !important;
    margin-bottom: 30px;
    padding: 15px 20px;
}

.mat-mdc-card-subtitle{
    color: #333 !important;
}

.navbar-expand-lg .navbar-collapse{
    justify-content: flex-end;
}

.bg-custom{
    background-color: #eda41e!important
}

.nav-link{
    color: #fff !important;
}

.min-body{
    min-height: 50vh;
}